body {
    background-image: url(http://www.designing-science-development.com/flotorizer/wp-content/uploads/2017/12/flotorizer.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: left;
    padding: 3vw;
    color: #fff;
    font-family: Roboto;
    /* font-size: 50px; */
    line-height: 66px;
    font-weight: 300;
}

.logo {
 display: none;
}

h1, h1 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    display: inline;
    letter-spacing: 1px;
    font-family: 'Open Sans';
    font-weight: bold;
}

.btn-primary {
    position: absolute;
    left: 3vw;
    top: 450px;
    width: 300px;
    height: 40px;
    margin-left: 0px;
    margin-top: -20px;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}

label#fileFormLabel {
    line-height: 1;
    height: auto;
    padding: 20px 10px;
}


.hashed {
    display: block;
    text-align: center;

    margin-top: 450px;
}

.btn-primary {
    position:absolute;
    left:50%;
    top:450px;
    width: 300px;
    height: 40px;

    margin-left: -150px;
    margin-top: -20px;

    background-color: #33373d;
    border-color: #33373d;
    color: #bba600;

    cursor: pointer;
}
