body {
    text-align: center;
    padding-top: 10px;
}

.logo  {
    margin-top: 10px;
    margin-bottom: 20px;
}

.hashed {
    margin: 10px auto 50px auto;
    width: 370px;
    word-wrap:break-word;
}

.btn-primary {
    width: 200px;
    height: 40px;
    background-color: #998600;
    border-color: #998600;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #776400!important;
    border-color: #776400!important;
}

.footer {
    margin-top: 40px;
    font-size: 11px;
}

.footer a, .footer a:hover, .footer a:active {
    color: black;
    text-decoration: underline;
}
