body {
    display: block;
    text-align: center;
}

.logo {
    position: absolute;
    top: 120px;
    left: 50%;

    width: 300px;
    margin-left: -150px;
}

.hashed {
    display: block;
    text-align: center;

    margin-top: 450px;
}

.btn-primary {
    position:absolute;
    left:50%;
    top:450px;
    width: 300px;
    height: 40px;

    margin-left: -150px;
    margin-top: -20px;

    background-color: #33373d;
    border-color: #33373d;
    color: #bba600;

    cursor: pointer;
}